.App {
  text-align: center;
  width: 100vh;
  background-color: beige;
  border-radius: 5px;
  margin: 0 auto;
  padding: 20px 80px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App li {
  width: 30%;
  font-size: 14px;
}
p {
  margin: 2px;
  color: #8a8b8f;
  display: flex;
  align-items: center;
}
.userShow-main {
  background: white;
  padding: 20px 40px;
  position: absolute;
  right: -21%;
  border-radius: 20px;
  box-shadow: 0 0 10px 0px black;
  top: 50px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.PageNotFound {
  height: 65vh;
  color: #ff5e00;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
}
.PageNotFound img {
  height: 268px;
  border-radius: 33px;
}
.PageNotFound h1 {
  margin: 0 auto;
}

#Loading {
  height: 20vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
